<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style/login.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style/home_page.css') }}" />

        <title>Home Page</title>
    </head>

    <body>

        <div class="box">
            <div class="container">

                <div class="top-header">
                    <header id="welcomeMsg">Welcome To Dog Parks Locator</header>
                </div>
                <div class="input-field">
                    <input type="submit" id="loginBtn" class="submit" value="Login">
                </div>

                <div class="input-field">
                    <input type="submit" id="registerBtn" class="submit" value="Register">
                </div>

                <div class="bottom">
                    <div class="left">
                        <input type="checkbox" id="check">
                        <label for="check">Remember Me</label>
                    </div>
                </div>
                <!-- <div class="input-field">
                <input type="text" class="input" placeholder="Username" required>
            </div> -->
            </div>
        </div>

        <script>
            var currentHTMLFile = 'index.html';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename = 'parks.js') }}"></script>
    </body>

</html>